<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Letakkan SEMUA deklarasi <uses-permission> di sini, langsung di bawah <manifest> -->

    <!-- Izin untuk Android 12 (API 31) dan di bawahnya -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Izin untuk Android 13 (API 33) dan di atasnya untuk akses media spesifik -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- Jika Anda juga butuh akses video/audio, uncomment baris ini: -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/> -->

    <!-- PENTING: Deklarasikan MANAGE_EXTERNAL_STORAGE juga sebagai uses-permission -->
    <!-- Ini adalah izin berisiko tinggi dan harus dijustifikasi untuk Play Store -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:label="projek_strata_mini"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"> <!-- Penting untuk kompatibilitas Android 10-12 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Intent-filter ini harus tetap di sini untuk membuka Pengaturan "Kelola Semua File" -->
            <intent-filter>
                <action android:name="android.settings.MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>